* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  padding: 7px;
  background-color: gray;
  min-height: 350px;
  max-width: 250px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.display {
  min-height: 80px;
  background-color: #008000; /* A shade of green */
  color: #ffffff;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  justify-content: space-around;
}
button {
  padding: 8px;
}

.display-num {
  font-size: 30px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
button {
  flex: 1 0 25%;
  border-radius: 6px;
  padding: 12px;
  margin: 2px;
  font-size: 16px;
  background-color: #9fd3c7;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.clear {
  background-color: #dc3030;
}
.equal {
  background-color: #73af6f;
}
button:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
