* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  min-height: 350px;
  max-width: 250px;
  border: 1px solid red;
}
.display {
  border: 1px solid salmon;
  min-height: 80px;
  padding: 5px;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  justify-content: space-around;
}
button {
  padding: 8px;
}

.display-num {
  font-size: 30px;
  border: 1px solid salmon;
}

.user-num {
  border: 2px solid orange;
}

.btn-container {
  border: 1px solid purple;
  display: flex;
  flex-wrap: wrap;
}
