* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  min-height: 350px;
  min-width: 250px;
  border: 1px solid red;
}
.display {
  border: 1px solid salmon;
  min-height: 80px;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: end;
}
button {
  padding: 8px;
}
